figure {
  overflow: hidden;
  float: left;
  display: inline-block;
  margin: 5px;
  width: auto;
  max-width: 400px;
  height: 350px;
}
.super-container {
  text-align: center;
}
.carousel {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  width: 860px;
  margin: 0 auto;
}
.slider {
  position: relative;
  display: inline-block;
}
.carousel li {
  position: absolute;
  left: 1500px;
}
li.active {
  position: relative;
  left: 0px;
  animation-name: slide-in;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
li.left {
  animation-name: slide-left;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
li.right {
  animation-name: slide-right;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.previous, .next {
  position: absolute;
  width: 25px;
  height: 30%;
  top: 50%;
  z-index: 5;
}
.next {
  right: 0px;
}
ol.slides {
  list-style-type: none;
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0 20px;
  margin: 0 0 10px 0;
}
@keyframes slide-in {
  100% { transform: translateX(0%); }
}
@keyframes slide-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}
@keyframes slide-right {
  0% { transform: translate(0%); }
  100% { transform: translate(100%); }
}
